*{
  margin: 0;
  padding: 0;
}

/* Контейнер */

.container{
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  margin: 2% 20% 0 20% ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Заголовки */

h1{
  margin-bottom: 30px;
}

h2{
  margin-bottom: 30px;
}

/* Обычный текст */

.main_text{
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.14vw;
}

/* Прямоугольная картинка */

.rect_img{
  margin-bottom: 30px;
}

.rect_img__red{
  width: 100%;
  height: 100px;
}

/* ПЕРВОЕ ЗАДАНИЕ */

.first_question{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.chair{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.img_chair{
  width: 164px;
  height: 220px;
}

.description{
  margin-top: 0.4vw;
  text-align: center;
  font-size: 1vw;
}

.price{
  margin-top: 0.6vw;
  font-weight: bold;
  text-align: center;
  font-size: 2vw;
}

.buy_btn{
  width: 164px;
  height: 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 1vw;
  background-color:mediumvioletred;
  color:gainsboro;
}

.buy_btn:hover{
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(113, 177, 18);
}

  /* Модальное окно */

.modal{
  border-radius: 20px;
  top:270px;
  z-index: 2;
  display: none;
  margin:0 35%;
  position: absolute;
  height: 300px;
  width: 500px;
  background: rgba(81, 81, 81, 0.74);
  backdrop-filter: blur(28px);
}

.form{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form_fields{
  display: flex;
  flex-direction: row;
}

.label{
  padding-left:10px;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

.fields{
  padding-right:10px;
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
}

.label>label{
  font-size: 25px;
  margin-top:1vw;
}

.fields>input{
  padding-left:10px;
  width: 300px;
  height: 20px;
  font-family:'Roboto', sans-serif;
  font-size: 22px;
  outline: none;
  border-color:gainsboro;
  border-radius: 20px;
  margin-top:1.2vw;

}

.form_buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form_btn{
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 1vw;
  background-color:rgb(113, 177, 18);
  width: 200px;
  height: 20px;
  margin-top: 1vw;
  color:white;
}

.form_btn2{
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 1vw;
  background-color:mediumvioletred;
  width: 200px;
  height: 20px;
  margin-top: 1vw;
  margin-left: 1vw;
  color:white;
}

/* Нумерованный список */

.ol_list{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.14vw;
  margin: 0  0 10% 5%;
}

/* Маркированный */

.ul_list{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.14vw;
  margin: 0  0 10% 5%;
}

/* Предупреждение */

.warning {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.14vw;
  margin-bottom: 30px;
}

/* Важный текст */

.strong_text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
  margin-bottom: 20px;
}
